body{
  padding-top: 30px;
}
.landing-page{
  width: 100%;
  height: 100vh;
  background-image: url(./assets/images/samburugirls.jpg);
  padding-bottom: 10rem;
  margin-top: 10px;
  background-size: cover;
}
.story-page{
  background-color: 255, 255, 240, 0.5;
}
footer{
  background-color: teal;
  color: white;
  padding: 10px;
  font-weight: 3em;
  font-family: serif;
}