main {
  box-sizing: border-box !important;
  margin: 0 !important;
  max-width: 100% !important;
  max-height: 100% !important; 
}

.hero-page {
  margin-bottom: 110px !important;
}

.second-page {
  width: 100% !important;
  height: 100vh !important;
  margin-top: 3px !important;
  z-index: 0 !important;
}

.third-page {
  margin-top: 150px !important;
  width: 100% !important;
  display: flex !important;
  left: 0 !important;
}

#thirdImage {
  width: 50% !important;
  height: 100% !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}

#thirdpagetext {
  width: 50% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3px !important;
}

.announcements {
  margin-bottom: 50px !important;
  padding: 20px !important;; 
}

@media screen and (max-width: 768px){
  * {
    box-sizing: border-box !important;
    margin: 0  auto !important;
    left: 0 !important;
    right: 0 !important;
    max-width: 100% !important;
    max-height: 100% !important;
  }

#thirdpagetext, 
#thirdImage,
.announcements,
.third-page,
.second-page
{
  display: none !important;
}
}