.Footer {
  font: 1em sans-serif;
  margin: auto !important;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px !important;
  background-color: teal !important;
  }

.footer-socials{
  width: 20% !important; 
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px !important;
  font-size: 2.3em !important;
  color: black !important;
}


.footer-text{
  width: 100% !important;
  background-color: teal !important;
  text-align: center !important;
  right: 0 !important;
  padding: 15px !important;
  font-size: 1em !important;
  font-family: sans-serif !important;
  margin-top: 100px !important;; 
}
