* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
}

.navbar {
  z-index: 5 !important;
  position: fixed !important;
  display: flex !important;
  align-items: center !important;
  top: 0 !important;
  margin-bottom: 1000px !important;
  padding-top: 1px !important;
  max-width: 100% !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.navbar.visible {
  opacity: 5;
  background-color: white !important;
}


#navbarText {
  display: flex !important;
  justify-content: flex-end !important;
  width: 100vw !important;
}

.navbar-brand {
  font-weight: bolder !important;
  font-size: 3rem !important;
  top: 0 !important;
  text-decoration: none !important;
  color: black !important;
  font-family: 'Cormorant' !important;
}

.navbar-link a{
  font-family: 'sans-serif' !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  text-decoration: none !important;
  color: black !important;
  padding: 20px !important;
  right: 10px !important;
}

.navbar-link:hover a {
  text-decoration: underline !important;
  color: teal !important;
  text-decoration-color: teal !important;
  text-decoration-thickness: 3px !important;
}

#bar{
  color: black !important;
  font-weight: bold !important;
  font-size: 1.9em !important;
}

.mobile-view {
  display: none !important;
}

@media screen and (max-width: 768px) {
  #navbarText {
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    position: fixed !important;
    top: 75px !important;
    right: 0 !important;
    background-color: red !important;
    width: 45vw !important;
    height: 65vh !important;
    padding: 20px 0 0 10px !important;
    cursor: pointer !important;
    transition: 0.5s ease-in-out !important;
  }

  #navbarText.active {
    right: -2000px !important;
  }

  .mobile-view {
    display: block !important;
    position: fixed !important;
    align-items: center !important;
    right: 25px !important;
  }
}
