#volunteerPage{
  display: flex !important;
  margin-top: 60px !important;
  width: 100% !important;
  left: 100% !important;
  background-color: rgb(255, 255, 255) !important;
}

#volunteerImg img{
  width:50vw !important;
  height: 85vh !important;
}
.volunteerImg ::after{
  content: "" !important;
  width: 100% !important;
  height: 85% !important;
  position: absolute !important;
  top: 0 !important;
  left: 1px !important;
  background:black !important;
  opacity: 0.4 !important;
}
#volunteerForm{
  padding-inline: 20px !important;
  width: 50vw !important;
  padding-block: 20px !important;
  height: 85vh !important;
  border: 1px solid green !important;
}
.form-group{
  margin-bottom: 20px !important;
  display: grid !important;
}
label{
  font-size: 1rem !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
  text-transform: uppercase !important;
  margin-bottom: 1rem !important;

}
option,
select{
  font-size: 16px !important;
}
select{
  padding-block: 5px !important;
  font-size: large;
}
input{
  padding-block: 10px !important;
  font-size: large;
}
.button{
  text-align: center !important;
}
#volunteerButton{
  padding: 10px !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  margin-top: 1rem !important;
  text-transform: uppercase !important;
  margin-bottom: 1rem !important;
  color: white !important;
  background-color: teal !important;
  border: 1px solid green !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  justify-content: center !important;
}