/* Admin.css */

#adminPage {
  text-align: center;
  padding: 20px;
}

#adminHeading {
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.adminButtonContainer {
  display: flex;
  justify-content: center;
}
.linkAdd {
  text-decoration: none !important;
  color: white !important;
}
.adminButton {
  display: flex;
  flex-direction: column;
  padding: 10px !important;
  margin: 10px !important;
  /* border: 1px solid red; */
}

.adminImage {
  width: 300px;
  height: 300px;
  margin-bottom: 50px !important;
}

.addButton {
  background-color: teal;
  color: white;
  padding-block: 15px !important;
  text-align: center;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px !important;
}

.addButton:hover {
  box-shadow: 0 0 10px teal;
}